
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
 <% if(@user.confirmed_at == nil) %>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
Please Confirmed Your Email Account. Otherwise, after 2 days your account will be blocked.


  </div>
  <% end %>
  <% flash.each do |key, value| %>          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>

                <div class="flash <%= key %>"><%= value %></div>
          </div>

<%end%>
  <section class="content-header">
    <h1>
      <i class="fa fa-dashboard"></i> Dashboard
      <small>it all starts here</small>
    </h1>

  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>

            <p>Created</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53</h3>

            <p>Remaining</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>Uploaded</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Submision</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" >
            <p>
              <a class="btn btn-block btn-social btn-google btn-lg">
                <i class="fa fa-youtube-play"></i> Start Creating a Video Now
              </a>
            </p>
          </div>
          <div class="col-md-12" >

            <div class="box box-success" style="">
              <div class="box-header">
                <i class="fa fa-newspaper-o"></i>

                <h3 class="box-title">News</h3>

              </div>
              <div class="box-body chat" id="chat-box" >
                <!-- chat item -->
                <div class="item">
                  <img src="/back/dist/img/user4-128x128.jpg" alt="user image" class="online">

                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                      Mike Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                    <a href="#" class="name">
                      <small class="text-muted pull-right">Read More</small>
                    </a>
                  </p>
                  <!-- /.attachment -->
                </div>
                <div class="item">
                  <img src="/back/dist/img/user4-128x128.jpg" alt="user image" class="online">

                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                      Mike Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                    <a href="#" class="name">
                      <small class="text-muted pull-right">Read More</small>
                    </a>
                  </p>
                  <!-- /.attachment -->
                </div>
                <div class="item">
                  <img src="/back/dist/img/user4-128x128.jpg" alt="user image" class="online">

                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                      Mike Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                    <a href="#" class="name">
                      <small class="text-muted pull-right">Read More</small>
                    </a>
                  </p>
                  <!-- /.attachment -->
                </div>
                <div class="item">
                  <img src="/back/dist/img/user4-128x128.jpg" alt="user image" class="online">

                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                      Mike Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                    <a href="#" class="name">
                      <small class="text-muted pull-right">Read More</small>
                    </a>
                  </p>
                  <!-- /.attachment -->
                </div>
                <div class="item">
                  <img src="/back/dist/img/user4-128x128.jpg" alt="user image" class="online">

                  <p class="message">
                    <a href="#" class="name">
                      <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                      Mike Doe
                    </a>
                    I would like to meet you to discuss the latest news about
                    the arrival of the new theme. They say it is going to be one the
                    best themes on the market
                    <a href="#" class="name">
                      <small class="text-muted pull-right">Read More</small>
                    </a>
                  </p>
                  <!-- /.attachment -->
                </div>


              </div>
              <!-- /.chat -->
            </div>

          </div>

        </div>

        <!-- /.box (chat box) -->


      </div>

      <div class="col-md-6">
        <!-- AREA CHART -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Histroy Chart</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body chart-responsive">
            <div class="chart" id="revenue-chart" style="height: 300px;"><svg style="overflow: hidden; position: relative; top: -0.700012px;" xmlns="http://www.w3.org/2000/svg" width="473" version="1.1" height="300"><desc>Created with Raphaël 2.1.0</desc><defs></defs><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="260" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">0</tspan></text><path stroke-width="0.5" d="M69,260H448" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="201.25" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">7,500</tspan></text><path stroke-width="0.5" d="M69,201.25H448" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="142.5" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">15,000</tspan></text><path stroke-width="0.5" d="M69,142.5H448" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="83.75" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">22,500</tspan></text><path stroke-width="0.5" d="M69,83.75H448" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="25.00000000000003" x="56.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4.000000000000028">30,000</tspan></text><path stroke-width="0.5" d="M69,25.00000000000003H448" stroke="#aaaaaa" fill="none" style=""></path><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="272.5" x="378.4786086780416" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2013</tspan></text><text transform="matrix(1,0,0,1,0,7.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="272.5" x="209.92329502303681" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2012</tspan></text><path fill-opacity="1" d="M69,218.23266666666666C79.58747658346412,218.74183333333332,100.76242975039239,221.7857189599849,111.34990633385651,220.26933333333335C121.94218014277757,218.75226062665158,143.1267277606197,208.35483333333335,153.71900156954078,206.09883333333335C164.20093919295226,203.86633333333336,185.1648144397752,204.12035054741742,195.64675206318668,202.31533333333334C206.12389246114122,200.5111422140841,227.07817325705025,194.19352425415624,237.5553136550048,191.662C248.14279023846893,189.1038159208229,269.31774340539715,181.84979500755003,279.9052199888613,181.9565C290.49749379778234,182.06325334088336,311.68204141562455,203.4188490401396,322.2743152245456,192.51583333333332C332.75625284795706,181.72639070680628,353.72012809478,101.6193837744534,364.2020657181915,95.18666666666667C374.56407270517946,88.82755044112007,395.2880866791555,134.66980753377604,405.6500936661435,141.3485C416.23757024960764,148.17251586710938,437.41252341653586,147.23525,448,149.1975L448,260L69,260Z" stroke="none" fill="#74a5c1" style="fill-opacity: 1;"></path><path stroke-width="3" d="M69,218.23266666666666C79.58747658346412,218.74183333333332,100.76242975039239,221.7857189599849,111.34990633385651,220.26933333333335C121.94218014277757,218.75226062665158,143.1267277606197,208.35483333333335,153.71900156954078,206.09883333333335C164.20093919295226,203.86633333333336,185.1648144397752,204.12035054741742,195.64675206318668,202.31533333333334C206.12389246114122,200.5111422140841,227.07817325705025,194.19352425415624,237.5553136550048,191.662C248.14279023846893,189.1038159208229,269.31774340539715,181.84979500755003,279.9052199888613,181.9565C290.49749379778234,182.06325334088336,311.68204141562455,203.4188490401396,322.2743152245456,192.51583333333332C332.75625284795706,181.72639070680628,353.72012809478,101.6193837744534,364.2020657181915,95.18666666666667C374.56407270517946,88.82755044112007,395.2880866791555,134.66980753377604,405.6500936661435,141.3485C416.23757024960764,148.17251586710938,437.41252341653586,147.23525,448,149.1975" stroke="#3c8dbc" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="218.23266666666666" cx="69"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="220.26933333333335" cx="111.34990633385651"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="206.09883333333335" cx="153.71900156954078"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="202.31533333333334" cx="195.64675206318668"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="191.662" cx="237.5553136550048"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="181.9565" cx="279.9052199888613"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="192.51583333333332" cx="322.2743152245456"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="95.18666666666667" cx="364.2020657181915"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="141.3485" cx="405.6500936661435"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#3c8dbc" r="4" cy="149.1975" cx="448"></circle><path fill-opacity="1" d="M69,239.11633333333333C79.58747658346412,238.897,100.76242975039239,240.43771021140054,111.34990633385651,238.239C121.94218014277757,236.03929354473388,143.1267277606197,222.49613263525308,153.71900156954078,221.52266666666668C164.20093919295226,220.5593409685864,185.1648144397752,232.3507170405127,195.64675206318668,230.49183333333335C206.12389246114122,228.63380037384604,227.07817325705025,208.50859394215442,237.5553136550048,206.655C248.14279023846893,204.78188560882109,269.31774340539715,213.6368996791242,279.9052199888613,215.585C290.49749379778234,217.53398301245755,311.68204141562455,231.4986422338569,322.2743152245456,222.24333333333334C332.75625284795706,213.08443390052358,353.72012809478,147.70599141733794,364.2020657181915,141.92816666666667C374.56407270517946,136.21644975067127,395.2880866791555,169.85250580108388,405.6500936661435,176.28516666666667C416.23757024960764,182.85779746775054,437.41252341653586,189.53329166666668,448,193.94933333333336L448,260L69,260Z" stroke="none" fill="#eaf2f5" style="fill-opacity: 1;"></path><path stroke-width="3" d="M69,239.11633333333333C79.58747658346412,238.897,100.76242975039239,240.43771021140054,111.34990633385651,238.239C121.94218014277757,236.03929354473388,143.1267277606197,222.49613263525308,153.71900156954078,221.52266666666668C164.20093919295226,220.5593409685864,185.1648144397752,232.3507170405127,195.64675206318668,230.49183333333335C206.12389246114122,228.63380037384604,227.07817325705025,208.50859394215442,237.5553136550048,206.655C248.14279023846893,204.78188560882109,269.31774340539715,213.6368996791242,279.9052199888613,215.585C290.49749379778234,217.53398301245755,311.68204141562455,231.4986422338569,322.2743152245456,222.24333333333334C332.75625284795706,213.08443390052358,353.72012809478,147.70599141733794,364.2020657181915,141.92816666666667C374.56407270517946,136.21644975067127,395.2880866791555,169.85250580108388,405.6500936661435,176.28516666666667C416.23757024960764,182.85779746775054,437.41252341653586,189.53329166666668,448,193.94933333333336" stroke="#a0d0e0" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="239.11633333333333" cx="69"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="238.239" cx="111.34990633385651"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="221.52266666666668" cx="153.71900156954078"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="230.49183333333335" cx="195.64675206318668"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="206.655" cx="237.5553136550048"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="215.585" cx="279.9052199888613"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="222.24333333333334" cx="322.2743152245456"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="141.92816666666667" cx="364.2020657181915"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="176.28516666666667" cx="405.6500936661435"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#a0d0e0" r="4" cy="193.94933333333336" cx="448"></circle></svg><div style="left: 386px; top: 97px; display: none;" class="morris-hover morris-default-style"><div class="morris-hover-row-label">2013 Q2</div><div class="morris-hover-point" style="color: #a0d0e0">
              Item 1:
              8,432
            </div><div class="morris-hover-point" style="color: #3c8dbc">
              Item 2:
              5,713
            </div></div></div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- DONUT CHART -->
        <!-- /.box -->

      </div>

    </div>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->